<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>{{ title }}</title>
        <link rel="icon" href="static/icon.png"/>
        <link id="stylesheet" rel="stylesheet" type="text/css" href="static/style.css"/>
        <link rel="stylesheet" type="text/css" href="static/discordinvite.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet"> 
        <script src="https://kit.fontawesome.com/a49ae6bba8.js" crossorigin="anonymous"></script>
        <script src="static/app.js"></script>
    </head>
    <body>
        <div id="navbarshadow"></div>
        <div id="topnavbar">
            <a href="./">Home</a>
            <span class="flexexpand"></span>
            <span id="theme_button">Switch Theme</span>
        </div>
       <div id="centralbgwrapper"><div id="centralbg"></div></div>
        <div id="documentwrapper">
            <div id="document">{{ document }}</div>
            <img src="static/footer.png" id="footer" alt="footer image">
        </div>
    </body>
</html>
