<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }} Tribe</title>
        <link rel="icon" href="../static/icon.png"/>
        <link id="stylesheet" rel="stylesheet" type="text/css" href="../static/style.css"/>
        <link rel="stylesheet" type="text/css" href="../static/discordinvite.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet"> 
        <script src="https://kit.fontawesome.com/a49ae6bba8.js" crossorigin="anonymous"></script>
        <script src="../static/app.js"></script>
    </head>
    <body>
        <div id="navbarshadow"></div>
        <div id="topnavbar">
            <a href="../">Home</a>
            <a href="/rules">Rules</a>
            <a href="/signup" target="_blank"><i class="fa fa-external-link fa-sm" aria-hidden="true"></i> Sign Up</a>
            <a href="/sheet" target="_blank"><i class="fa fa-external-link fa-sm" aria-hidden="true"></i> Spreadsheet</a>
            <span class="flexexpand"></span>
<!--        <span id="theme_button">Switch Theme</span> Causes problems... -->
        </div>
        <div id="centralbgwrapper"><div id="centralbg"></div></div>
        <div id="document">{{ document }}</div>
        <img src="../static/footer.png" id="footer" alt="footer image">
    </body>
</html>
